.params-panel{
    margin: 5vh auto;
    width: 70%;
    min-height: 50vh;
    color: rgba(1, 12, 32, 0.548);
    background-color: rgb(228, 228, 236);
    border-radius: 5px;
    text-align: center;
}
.close-params{
    text-align: center;
    color: blue;
    font-size: large;
    transform: rotate(45deg);
    position: absolute;
    right: 16%;
    border-radius: 50%;
    transition: 200ms;
    
    height: 18px;
    width: 18px;
}
.close-params:hover{
    color: blue;
    font-size: large;
    transform: rotate(45deg);
    position: absolute;
    right: 16%;
    border-radius: 50%;
    background-color: cornflowerblue;
    height: 18px;
    width: 18px;
    transition: 200ms;
}