.main-button{
    margin: 30px;
    background-color: rgb(228, 228, 236);
    width: 50px;
    color: rgba(42, 111, 238, 0.548);
    text-align: center;
    font-size: 45px;
    border-radius: 25px;
    transition: 500ms;
}
.main-button:hover{
    margin: 30px;
    background-color: rgba(4, 0, 255, 0.301);
    width: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 45px;
    border-radius: 25px;
    transition: 500ms;
}